<div class="col-lg-12">
 
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Field Types
    </div>
    <div class="card-body page-list">
      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Desc</th>
            <th>Preview</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <tbody>
          {{#each fieldTypes}}
          <tr>
            <td>{{ this.title}}</td>
            <td>{{{ this.desc}}}</td>
            <td>
              {{{ this.generateHtml }}}
            </td>
            <!-- <td>
              <span class="badge badge-success">Active</span>
              <button v-on:click="deletePage('{{{ this._id }}}')" class="btn btn-sm btn-danger">Delete</button>
            </td> -->

          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  var pageList = new Vue({
    el: '.page-list',
    data: {
      name: '{{{ page.title }}}',
      debug: true,
      domain: '',
      ajaxRequest: false,
      postResults: []
    },
    // define methods under the `methods` object
    methods: {
      deletePage: function (id) {
        axios.post('/admin/deletepage', {
            id: id
          })
          .then(function (page) {
            location.reload();
          })
          .catch(function (error) {
            console.log(error);
          });

      }
    }
  })
</script>