<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#elements" role="tab" aria-controls="home" aria-selected="true">Elements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " id="profile-tab" data-toggle="tab" href="#layout" role="tab" aria-controls="profile" aria-selected="false">Layout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="contact" aria-selected="false">Settings</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="elements" role="tabpanel" aria-labelledby="home-tab">Elements</div>
    <div class="tab-pane fade show " id="layout" role="tabpanel" aria-labelledby="profile-tab">
        <h5>Layouts</h5>
        {{> page-mini-layout }}
    </div>
    <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="contact-tab">
            {{> page-settings }}
    </div>
</div>




